# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
anaconda_projects/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.xml
*.iml

# Data & Models
*.pkl
!movies.pkl
*.csv
tmdb_5000_credits.csv
tmdb_5000_movies.csv
